#urban_buttonContainer{
	width: 100%;
	height: 50px;
	margin-top: 1	px;
    margin-bottom:10px;
}

#urban_buttonContainer img{
	margin-left: 10px;
	float: left;
    padding: 0 !important;
}

.urban_button {
    display: inline;
    font-size: 14px;
    font-family: Lato, sans-serif;
    padding: 14px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #1696d2;
    display: block;
    line-height: 12px;
    text-transform: uppercase;
    text-align: center;
    float: left;
    margin-right: 1px;
}

.urban_button:hover{
    background-color:#000;
    text-decoration:none;
}

.urban_button.left{
	/*margin-left: 110px;*/
	margin-left: 10px;
	float: right;
}
.urban_button.right{
	/*margin-left: 41px;*/
	float: right;
}

#urban_embedModal{
    font-family: Lato, sans-serif;
    display: none; 
    width: 70%;
    background-color: #f3f3f3;
    height: 357px;
    z-index: 60;
    position: fixed;
    top: 80px;
    left: 15%;
    -webkit-box-shadow: 5px 7px 20px 8px rgba(119,119,119,1);
    -moz-box-shadow: 5px 7px 20px 8px rgba(119,119,119,1);
    box-shadow: 5px 7px 20px 8px rgba(119,119,119,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 13px 2px rgba(204,204,204,1);
}
#urban_embedModal h2, #urban_embedModal p{
  text-align: center;
}
#urban_embedModal h2{
    font-weight: 300;
    font-size:1.75em;
    color: #000;
}
#urban_embedModal textarea{
    width: 80%;
    left: 10%;
    position: absolute;
}
#urban_embedClose{
    position: fixed;
    top: 370px;
    width: 82px;
    z-index: 29;
    /* display: inline-block; */
    left: calc(50% - 40px);
    clear: both;
    border: 1px solid;
    padding: 12px;
    border-radius: 23px;
    color: #000;
    letter-spacing: 1.5px;
    background-color: #fff;
    cursor: pointer;
}
#urban_embedClose img{
    display: block;
    top: 9px;
    left: 72px;
    position: absolute;
}


